*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* .navbar{
    position: fixed;
    align-items: center;
} */

h1{
    margin-top: 3.2rem;
}

body{
    background-color: #f5f5f5;
    line-height: 1.2 !important;
}

nav{
    display: flex;
    min-height: 8vh;
    background-color: #f5f5f5;
    background-blend-mode: screen;
    font-family: 'Poppins', sans-serif;
}

.logo{
    color: rgb(226, 226, 226);
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 20px;
}

.nav-links{
    display: flex;
    width: 18%;
}

.nav-links li{
    list-style: none;
}

.nav-links a{
    color: #000000;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 12px;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: #333333;
    margin: 5px;
    transition: all 0.4s ease;
}

.burger{
    cursor: pointer;
}

.appTitle{
    height: 100px;
    text-align: center !important;
}

@media screen {
/*     body{
        overflow-x: hidden;
    } */
/*     #appTitle{
        overflow-x: hidden;
        
    } */
    .nav-links{
        position: absolute;
        height: 92vh;
        top: 8vh;
        display: flex;
        flex-direction: column;
        align-items: right;
        left: 0%;
        transform: translate(-50%, 0);
        transition: transform 0.4s ease-in-out;
        
    }

    /* #output {
        -webkit-filter: blur(5px);
        -moz-filter: blur(5px);
        -o-filter: blur(5px);
        -ms-filter: blur(5px);
        filter: blur(5px);
        background-color: #ccc;
    } */
    .burger{
        display: block;
    }
    
}

.nav-active{
    transform: translate(0%);
    transition: transform 0.5s ease-in-out;
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(100px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2{
    opacity: 0; 
}

.toggle .line3{
    transform: rotate(45deg) translate(-5px, -6px);
}

.container-fluid
{
    background-color: #f5f5f5;
    background-blend-mode: screen;
}

h1
{
    color: #333333 !important;
    text-align: center !important;
}

.img-fluid{
    height: 120px !important;
}

.nav-item
{
    background-color: #c0c0c0;
    background-blend-mode: screen;
} 

p{
    font-size: 0.75rem !important;
    margin-bottom: 0.3rem !important;
    align-content: center !important;
}

h4{
    font-size: 1.2rem !important;
    font-family: 'Poppins', sans-serif;
}

.display-4{
    font-size: 2.5rem;
}
.card-body
{
    background-color: #cccccc;
    position: center;
    transition: all 1s;
    padding: 0.6rem !important;
}

#contatti{
    margin-right: 15%;
    margin-left: 15%;
}

#output{
    margin-right: 20%;
    margin-left: 20%;
}

.card-body.animated {
    -webkit-animation: 1600ms pulsate infinite alternate ease-in-out;
    -moz-animation: 1600ms pulsate infinite alternate ease-in-out;
    -ms-animation: 1600ms pulsate infinite alternate ease-in-out;
    -o-animation: 1600ms pulsate infinite alternate ease-in-out;
    animation: 1600ms pulsate infinite alternate ease-in-out;
  }

@keyframes pulsate {
0% { transform: scale(1); }
50% { transform: scale(1.005); }
100% { transform: scale(1); }
}
@-webkit-keyframes pulsate {
0% { -webkit-transform: scale(1); }
50% { -webkit-transform: scale(1.005); }
100% { -webkit-transform: scale(1); }
}
@-moz-keyframes pulsate {
0% { -moz-transform: scale(1); }
50% { -moz-transform: scale(1.005); }
100% { -moz-transform: scale(1); }  
}
@-ms-keyframes pulsate {
0% { -ms-transform: scale(1); }
50% { -ms-transform: scale(1.005); }
100% { -ms-transform: scale(1); }  
}
@-o-keyframes pulsate {
0% { -o-transform: scale(1); }
50% { -o-transform: scale(1.005); }
100% { -o-transform: scale(1); }  
}