html, body {
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    font-family: Quicksand;
}

header {
    width: 100%;
    height: 100vh;
    background-color: #f5f5f5;
}

.logo {
    position: fixed;
    float: left;
    margin: 16px 36px;
    color: #fff;
    font-weight: bold;
    font-size: 24px;
}

nav {
    position: fixed;
    width: 100%;
}

nav ul {
    list-style: none;
    background: rgba(0,0,0,0);
    overflow: hidden;
    color: #fff;
    padding: 0;
    text-align: center;
    margin: 0;
    transition: 1s;
}